@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap');

* { 
    box-sizing: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Kreon' , 'serif';

}
body{
    background-color: #FFFFFF;
}

main{
    height: calc(100vh - 8.5rem);
}


:root {
    --primary: #D9D9D9;
    --secondary: #B1B1B1;
    --black: #000000;
    --white: #ffffff;

}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--primary); 
    border-bottom-width: 0.5rem;
    border-bottom-style: solid;
    height: 6rem;
}
header img {
    padding: 0.0rem
}
header nav {
    display: flex;
    align-items: center;
}
header nav a {
    margin: 0 01rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--third);
}
header nav a:hover {
    font-weight: bold;
}
footer {
    height: 3.5rem;
    display: flex;
    align-items: center;
    background-color: var(--primary);
}
footer img{
    margin: 0 0.05rem;
}

main section{
    max-width: 1200px;
    margin: 0 auto;
}

main section img.Imagem3{
    padding-top: 2rem;
    width: 80%;
}
main section aside{
    background-color: #B1B1B1;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 50%;
    padding: 1rem;
}
main section aside img{
    width: 59px;
    height: 59px;
}